<ion-view   cache-view="false" view-title="Forgot Password" ng-controller="forgotPasswordController as vm" hide-nav-bar="true">

    <ion-content >
        <div class="bar bar-assertive ">
            <button  class="ion-chevron-left button-clear"   ng-click=" vm.goback()"> </button>
            <div class="h1 title">Forgot Password</div>


        </div>
    
        <br><br>
<!--                 <h2 class="splash-hero-title">


<img class="splash-icon-main unread-splash-img" src="img/svg/1869-Unread-Logo-160x160-No-Name-i1-1-02.svg"/><br>
                        Forgot Password?
                  
                    </h2>-->
        
          <div class="shift-wrapper">
        
        <form name="vm.forgotPasswordForm" class="splash-form" ng-submit="vm.forgotPasswordformSubmit(vm.forgotPasswordForm.$invalid)" novalidate>
            <div class="list">
                <!--EMAIL-->
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input id="email" placeholder="you@example.com" name="email" type="email" ng-pattern="/^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/" ng-focus="vm.FailedMessage='';"  ng-model="vm.forgotPasswordFormData.email" required>
                </label>
                <div   ng-messages="vm.forgotPasswordForm.email.$error" ng-show="vm.forgotPasswordForm.email.$touched || vm.submitted ">
                    <div  class="form-error"ng-message="required">
                        Please enter the email.
                    </div>
                    <div  class="form-error" ng-message="email">
                        Please enter a valid email.
                    </div>
                    <div  class="form-error" ng-message="pattern">
                        Please enter a valid email.
                    </div>

                </div>
                <!--EMAIL END-->
                <!--GENRAL ERROR MESSAGE-->
                <div  class="form-error" ng-show="vm.FailedMessage.length>0">
                    {{vm.FailedMessage}}
                </div>
                <!--GENERAL ERROR MESSAGE END-->
                <!--BUTTON-->
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" ng-show="!vm.showloading"class="button button-block button-positive" >Submit</button>
                        <ion-spinner icon="dots" ng-show="vm.showloading" class="spinner-positive"></ion-spinner>

                    </div>
                <!--BUTTON END-->


            </div>
        </form>
</div>
    </ion-view>